body{
     background-color: #f8eade;
    font-family: "Dream";
    font-weight: lighter;
}

h1{
    color: #402d21;
    letter-spacing: 3px;
    text-align: center;

}

.content{
   display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 c敲뗪 */
  gap: 15px; /* 游녣 t故멾 kho故믍g c치ch gi敲스 c치c n칰t */
  width: fit-content;
  margin: 0 auto; /* c캒n gi敲스 */
  
  padding: 20px;
}

.chapter{
    height: 150px;
    width: 150px;
    border: transparent;
    border-radius: 15px;
    
    background-color: #cfb59e;
    align-items: center;
    bottom: 100px;
    
    
}

p{
    color: #6c4d38;
    font-size: 25px;
    font-family: "Dream";
}

.chapter:hover{
    background-color: #dde6ed;
    cursor: pointer; 
}