body{
            background-color: #f8eade;
            display: grid;
            justify-items: center;
            
        }

        .conten{
            display: grid;
            place-items: center;
            width: 100vw;
            height: 80vh;
        }

        .card{
            display: grid;
            align-items: center;
            justify-items: center;
            height: 250px;
            width: 350px;
            background-color: #cfb59e;
            border-radius: 10px;
           
            
            
        }

        #input{
           
            border-radius: 50px;
            font-size: 20px;
            border: solid #dde6ed;

        }

        .word{
            color: black;
            font-size: 50px;
        }
        .meaning{
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            font-size: 50px;
            color: black;
            text-align: center;
            color: #6c4d38;
            
        }

        select{
            position: absolute;
            top: 28%;
            left: 70%;
            border-radius: 50px;
            font-size: 20px;
            cursor: pointer;
            color: #cfb59e;
            
            


        }

        #result{
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            font-size: 20px;

        }
        #correctAnswer{
             font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            font-size: 20px;
        }

        .navbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            width: 100%;
                        


        }
        
       

        /* home menu */
        .button1{
            background-color: transparent;
            border: transparent;
            font-size: 30px;
            
            color: #6c4d38;
        }
        .button1:hover{
            color: rgb(255, 112, 112);
        }

        h1{
            color: #6c4d38;
            font-family: "Dream";
        }

        /* hamburger nemu */
      
#nav-wrapper{
    display: grid;
    


}
.hamburger {
  position: absolute;
  right: 20px;
  top: 35px;
  
  cursor: pointer;
  z-index: 300;
}

.hamburger_line {
  position: absolute;
  width: 20px;
  height: 2px;
  right: 0;
  background-color: #6c4d38;
  transition: all 0.5s;
}

.line--1 {
  top: 1px;
}

.line--2 {
  top: 10px;
}

.line--3 {
  top: 20px;
}

/*ハンバーガーがクリックされたら*/
.open .line--1 {
  transform: rotate(-45deg);
  top: 11px;
}

.open .line--2 {
  opacity: 0;
}

.open .line--3 {
  transform: rotate(45deg);
  top: 11px;
}


/* sp-nav */

.sp-nav {
  position: fixed;
  right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
  top: 0;
  width: 40%; /* 出てくるスライドメニューの幅 */
  height: 30vh;
  background-color: #dde6ed;
  transition: all 0.5s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}

/*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
  right: 0;
}

.sp{
    display: grid;
    margin-top: 50%;
    gap: 10px;
}



.button{
    background-color: transparent;
    border: none;
    color: #6c4d38;
    position: relative;
   
    font-size: 20px;
    
}

.button:hover{
    cursor: pointer;
}

/* 
black-bg(ハンバーガーメニュー解除用bg)
=================================== */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.5;
  visibility: visible;
}
